.profile-card {
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    flex: 1;
    margin-right: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: blue;
}